<header class="topo">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="/components/Public/logmanutech.png" alt="Logo">
               
            </a>
        </div>
        <h1>Serviços Manutech</h1>
        <nav class="navegacao">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/components/about.html">Sobre</a></li>
                <li><a href="/components/Contact.html">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>
